<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Dodaj użytkownika</title>
        <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
        <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>Dodanie nowego użytkownika</h2>
            <form th:method="post" th:action="@{/mvc/user/add}" th:object="${user}">
                <div class="mb-3">
                    <label for="firstName" class="form-label">Imię</label>
                    <input type="text" th:field="*{firstName}" class="form-control" id="firstName">
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Nazwisko</label>
                    <input type="text" th:field="*{lastName}" class="form-control" id="lastName">
                </div>
                <div class="mb-3">
                    <label for="login" class="form-label">Login</label>
                    <input type="text" th:field="*{login}" class="form-control" id="login">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Hasło</label>
                    <input type="password" th:field="*{password}" class="form-control" id="password">
                </div>
                <button type="submit" class="btn btn-primary">Dodaj użytkownika</button>
            </form>
        </div>
    </body>
</html>
