<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Users List</title>
        <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
        <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Login</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <th scope="row" th:text="${user.id}"></th>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.login}"></td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" href="/mvc/user/add" role="button">Dodaj użytkownika</a>
        </div>
    </body>
</html>